.venv
.env
__pycache__/
.ipynb_checkpoints
.schema_index
.schema_index/*
.vscode/
.DS_Store
.idea/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.env
*.env.*
*.db
*.sqlite
*.sqlite-journal
*.egg-info/
dist/
build/
coverage/
htmlcov/
.mypy_cache/
.pytest_cache/
.tox/
.nox/
.coverage
.pyre/
.pytype/
celerybeat-schedule
instance/
.webassets-cache
.scrapy
docs/_build/
*.pot
*.mo    
*.log